* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
}

.side-left {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center; 
  overflow: hidden;
  background-color: #d79d68;
}

.side-left img {
  height: auto;
  width: auto;
  max-width: 50vw;      
  max-height: 60vh;
}

.side-right {
  display: flex;
  flex: 1;
  overflow: hidden;
  background-color: #f5e0cd;
  align-items: center;
  justify-content: center; 
  font-size: 25px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 25px; 
  width: 80%;
  max-width: 400px;
}

.heading {
  text-align: center; 
}

.heading p {
  text-align: center;
  text-decoration: underline;
  font-size: 28px;
}

.login-grp {
  display: flex;
  flex-direction: column;
  gap: 8px; 
}

.login-grp input {
  font-size: 18px;
  padding: 8px;
}


.login-grp button {
  align-self: flex-start;
  font-size: 16px;
  background: none;
  border: none;
  color: blue;
  text-decoration: underline;
  background-color: blue;
}

.butt button {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  color: azure;
  border-radius: 6px;
}